{% extends 'base.html' %}
{% block contenido %}

<h2>Lista  de Aviones</h2>

<a href="{% url 'agregar_Avion' %}" class="btn btn-success mb-3">Agregar Avion</a>
<table class="table table-bordered">
    <tr>
        <th>nserie</th>
        <th>modelo</th>
        <th>caracteristicasT</th>
        <th>capacidad</th>
        <th>antiguedad</th>
        <th>nhorasvuelo</th>
    
    </tr>

    {% for Avion in Aviones %}
    <tr>
        <td>{{Avion.nserie}}</td>
        <td>{{Avion.compañia}}</td>
        <td>{{Avion.modelo}}</td>
        <td>{{Avion.caracteristicasT}}</td>
        <td>{{Avion.capacidad}}</td>
        <td>{{Avion.antiguedad}}</td>
        <td>{{Avion.nhorasvuelo}}</td>
        <td>
            <a href="{% url 'editar_Avion' Avion.id %} " class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'eliminar_Avion' Avion.id %} " class="btn btn-danger btn-sm">Eliminar </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}