{% extends 'base.html' %}

{% block contenido %}
<h2>Iniciar sesion</h2>

{% if  form.errors %}
    <div class="alert alert-danger">
        Nombre de usuario o contraseña incorrectos.
    </div>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label for="username" class="form-label"> Nombre de usuario</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
        <div class="mb-3">
        <label for="password" class="form-label"> Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

{% endblock %}